# outros arquivos a ser ignorados
*.zip
*.csv
*.ofx
*.ofc
*.excel
*.rar
*.txt
*.xls
*.xlsx
*.html
*.pdf
*.PDF
*.tmp
*.TMP
*.ZIP
*.CSV
*.OFX
*.OFC
*.EXCEL
*.RAR
*.TXT
*.XLS
*.XLSX
*.HTML
*.PDF
*.jpg
*.JPG
*.jpeg
*.JPEG
*.BMP
*.bmp
